body {
    background-color: #f4f4f4;
}

.liebiao {
    width: 1346px;
    margin: auto;

    .sort {
        width: 100%;
        height: 56px;
        margin-top: 70px;

        li {
            width: 120px;
            height: 40px;
            float: left;
            line-height: 40px;
            margin-top: 8px;
            text-align: center;

            &:nth-child(2) {
                border: 1px solid #2b86b2;
            }
        }

        a {
            color: black;
        }
    }
}

.lbpb {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    li {
        width: 320px;
        height: 370px;
        background-color: white;
        text-align: center;
        margin-top: 20px;
        cursor: pointer;

        &:hover {
            box-shadow: #606266 1px 1px 5px;
            transform: translateY(-4px);
        }

        img {
            width: 100%;
            height: 240px;
        }

        div {
            &:nth-child(2) {
                color: #606266;
                text-align: center;
                margin-top: 10px;
                margin-left: 6px;
            }

            &:nth-child(3) {
                color: #2b8fcb;
                margin: 10px 0;
            }

            &:nth-child(4) {
                color: #606266;
                font-size: 14px;
            }
        }
    }
}