footer {
    width: 100%;
    clear: both;
    background-color: #f4f4f4;
}

.help {
    width: 100%;
    height: 180px;

    &>ul {
        width: 930px;
        height: 180px;
        margin: auto;
        display: flex;
        justify-content: space-between;

        &>li {
            width: 16.5%;
            height: 130px;
            border-left: 1px #666666 dashed;
            font-size: 13px;
            box-sizing: border-box;
            padding: 0px 40px;
            margin: auto;
            text-align: center;
        }

        ul {
            a {
                color: #666666;
            }

            li {
                margin-bottom: 15px;
            }
        }
    }
}

.bottom {
    height: 380px;
    width: 100%;
    font-size: 14px;
    box-sizing: border-box;
    padding: 70px 0 30px 0;
    background: linear-gradient(to bottom right, #003655 0, #0066a1 50%, #0096ee);
}

._top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgba(255, 255, 255, 0.733);
}

.weixin {
    img {
        width: 30px;
        height: 30px;
    }
}

._middle {
    width: 2000px;
    margin-left: 100px;

    a {
        color: white;
    }

    li {
        float: left;
        border-left: 1px solid white;
        margin: 50px 10px 15px 0;
        padding-left: 10px;
    }
}

._bottom {
    clear: both;
    margin-left: 480px;
    margin-top: 10px;
    color: rgba(255, 255, 255, 0.541);
}