* {
    margin: 0;
    padding: 0;
}

html {
    width: 100%;
}

body {
    width: 100%;
    height: 100%;
    /* overflow: scroll; */
    overflow-x: hidden;
    background-color: #F4F4F4;
}

.banner {
    width: 100%;
    height: 576px;
    background-repeat: no-repeat;
    transition: all 1s linear;
    /* position: relative; */
    /* background-size: 100%; */
    /* position: relative; */
    /* z-index: -1; */
    margin-top: 50px;
}

.banner ul {
    width: 70px;
    height: 3px;
    position: absolute;
    top: 580px;
    left: 50%;
}

.banner ul li {
    background-color: #777777;
    width: 30px;
    height: 100%;
    float: left;
    cursor: pointer;
}

.banner ul li:nth-child(1) {
    margin-right: 10px;
}

.banner .prev,
.banner .next {
    width: 40px;
    height: 40px;
    background-color: rgba(90, 88, 88, 0.329);
    position: absolute;
    top: 313px;
    margin-top: -20px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    color: white;
    cursor: pointer;
    display: none;
}

.banner .prev {
    left: 16px;
}

.banner .next {
    right: 16px;
}

.like {
    width: 100%;
    height: 840px;
    background-color: #f4f4f4;
    box-sizing: border-box;
    padding: 15px 0;
}

.like ul {
    width: 100%;
    height: 760px;
    /* background-color: yellow; */
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
}

.like ul li {
    width: 320px;
    height: 370px;
    background-color: white;
    text-align: center;
}

.like ul li:hover {
    /* transform: translateY(-5px); */
    box-shadow: #606266 1px 1px 5px;
    margin-top: -5px;
}

.like ul li img {
    width: 100%;
    height: 240px;
}

.like ul li div:nth-child(2) {
    color: #606266;
    text-align: center;
    margin-top: 10px;
    margin-left: 6px;
}

.like ul li div:nth-child(3) {
    color: #2b8fcb;
    margin: 10px 0;
}

.like ul li div:nth-child(4) {
    color: #606266;
    font-size: 14px;
}

.ban01 img {
    width: 100%;
    height: 500px;
}

.ban02 img {
    width: 100%;
    height: 615px;
}

.ban03 img {
    width: 100%;
    height: 610px;
}